.bar-search{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  margin-top: 30px;
}
.input-search-bar{
  display:flex;
  width: 500px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('icons.jpg');
  background-size: 50px 50px;
  background-position: 4px -4px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
::placeholder {
  color: #85c7e1;
  opacity: 1;
  font-family: 'Courier New', Courier, monospace;
}
.navbar{
    position:fixed;
    border: 1px solid #f4eef2;
    background-color: #85c7e1;
    width: 100%;
    display: block;
}
.img-logo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 8px;
}
.navbar button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color:#f4eef2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
  }
  .navbar button:hover {
    background-color: #40A2E3;
  }
  body{
    background-image: url("bg1.avif");
    background-repeat: no-repeat;
    background-size:100% 500px;
    width: auto;
    display: flex;
    justify-content: center;
   }
.images-section{
  width: auto;
  display: flex;
  justify-content: left;
}
  .images{
    padding-top: 70px;
  }

  .images img{
    margin-top: 15px;
    width: 30px;
    height: 30px;
  }
  .about-section{
    width: auto;
    display: flex;
    justify-content: center;
  }
.about{
    padding-top: 180px;
    color:#7FC7D9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.intro-about-section{
  width: auto;
  display:flex;
  justify-content: center;
  align-items: center;
}
.intro-section{
  width: auto;
  display:inline-block;
  justify-content: center;
  align-items: center;
}
.intro-inner-sec{
  width: 500px;
  margin-left: 100px;
}
.intro{
    text-align: justify;
    color:black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.about-section-img{
  display:inline-block;
  width: auto;
  justify-content: center;
  align-items: center;
}
.about-image{
  margin-left: 20px;
    width: 600px;
    height: 220px;
}
.services-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services{
    padding-top: 50px;
    color:#7FC7D9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.services-btn-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab1{
    padding: 14px 16px;
    color:#f4eef2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
  
}
.fligth{
  padding: 15px 32px;
  font-family: 'Courier New', Courier, monospace;
}
.fligth-div {
  position: relative;
  display: inline-block;
}

.fligth-div-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.fligth-div-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.fligth-div-content a:hover {background-color: #7FC7D9}

.fligth-div:hover .fligth-div-content {
  display: block;
}

.fligth-div:hover .fligth {
  background-color: #40A2E3;
}
.travel-info{
  padding: 15px 32px;
  font-family: 'Courier New', Courier, monospace;
}
.travel-info-div {
  position: relative;
  display: inline-block;
  margin-left: 50px;
}
.travel-info-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.travel-info-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.travel-info-content a:hover {background-color: #7FC7D9}

.travel-info-div:hover .travel-info-content {
  display: block;
}

.travel-info-div:hover .travel-info {
  background-color: #40A2E3;
}
.car-rent{
  padding: 15px 32px;
  font-family: 'Courier New', Courier, monospace;
}
.car-rent-div {
  position: relative;
  display: inline-block;
  margin-left: 50px;
}
.car-rent-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.car-rent-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.car-rent-content a:hover {
  background-color: #7FC7D9;
}

.car-rent-div:hover .car-rent-content {
  display: block;
}

.car-rent-div:hover .car-rent {
  background-color: #40A2E3;
}
.hotels{
  padding: 15px 32px;
  font-family: 'Courier New', Courier, monospace;
}
.hotels-div {
  position: relative;
  display: inline-block;
  margin-left: 50px;
}
.hotels-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.hotels-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.hotels-content a:hover {
  background-color: #7FC7D9;
}

.hotels-div:hover .hotels-content {
  display: block;
}

.hotels-div:hover .hotels {
  background-color: #40A2E3;
}
.travel-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.travel-img{
    width: 1000px;
    height: 220px;
}
.portfolio-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio{
    padding-top:50px;
    color:#7FC7D9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.portfolio-img-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio1-image{
    width: 240px;
    height: 200px;
}
.portfolio2-image{
    margin-left: 10px;
    width: 240px;
    height: 200px;
}
.portfolio3-image{
    margin-left: 10px;
    width: 240px;
    height: 200px;

}
.portfolio4-image{
    margin-left: 10px;
    width: 240px;
    height: 200px;    
}
.portfolio-img-section2{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio5-image{
    width: 240px;
    height: 200px;
}
.portfolio6-image{
    margin-left: 10px;
    width: 240px;
    height: 200px;
}
.portfolio7-image{
    margin-left: 10px;
    width: 240px;
    height: 200px;

}
.portfolio8-image{
    margin-left: 10px;
    width: 240px;
    height: 200px;    
}
.contact-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact{
    padding-top: 50px;
    color:#7FC7D9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.contact-btn-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact1{
    padding-top: 10px;
    padding-bottom: 50px;
    color: #40A2E3;
    font-family: 'Courier New', Courier, monospace;
}
.call-us{
  font-family: 'Courier New', Courier, monospace;
}
.location{
  font-family: 'Courier New', Courier, monospace;
}
.footer{
  position:fixed;
  left: 0;
  bottom: 0%;
  width: 100%;
  background-color: #40A2E3;
  color: white;
  text-align: center;
}
.mayon-div {
  display: inline-block;
}

.mayon-content {
  display: none;
  min-width: 160px;
}

.mayon-div:hover .mayon-content {
  display: block;
}

.mayon-desc {
  padding: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #85c7e1;
}
.siargao-div {
  display: inline-block;
}

.siargao-content {
  display: none;
  min-width: 160px;
}

.siargao-div:hover .siargao-content {
  display: block;
}

.siargao-desc {
  padding: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #85c7e1;
}
.ilocos-div {
  display: inline-block;
}

.ilocos-content {
  display: none;
  min-width: 160px;
}

.ilocos-div:hover .ilocos-content {
  display: block;
}

.ilocos-desc {
  padding: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #85c7e1;
}
.laguna-div {
  display: inline-block;
}

.laguna-content {
  display: none;
  min-width: 160px;
}

.laguna-div:hover .laguna-content {
  display: block;
}

.laguna-desc {
  padding: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #85c7e1;
}

.bohol-div {
  display: inline-block;
}

.bohol-content {
  display: none;
  min-width: 160px;
}

.bohol-div:hover .bohol-content {
  display: block;
}

.bohol-desc {
  padding: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #85c7e1;
}
.palawan-div {
  display: inline-block;
}

.palawan-content {
  display: none;
  min-width: 160px;
}

.palawan-div:hover .palawan-content {
  display: block;
}

.palawan-desc {
  padding: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #85c7e1;
}
.banaue-div {
  display: inline-block;
}

.banaue-content {
  display: none;
  min-width: 160px;
}

.banaue-div:hover .banaue-content {
  display: block;
}

.banaue-desc {
  padding: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #85c7e1;
}
.aurora-div {
  display: inline-block;
}

.aurora-content {
  display: none;
  min-width: 160px;
}

.aurora-div:hover .aurora-content {
  display: block;
}

.aurora-desc {
  padding: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #85c7e1;
}
    