.bar-search{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  margin-top: 30px;
}
.input-search-bar{
  display:flex;
  width: 500px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('icons.jpg');
  background-size: 50px 50px;
  background-position: 4px -4px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
::placeholder {
  color: #85c7e1;
  opacity: 1;
  font-family: 'Courier New', Courier, monospace;
}
.navbar-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar{
    overflow: hidden;
    border: 1px solid #f4eef2;
    background-color: #85c7e1;
    width: 100%;
}
.navbar button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color:#f4eef2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
  }
  .navbar button:hover {
    background-color: #40A2E3;
  }
  body{
    background-image: url("bg1.avif");
    background-repeat: no-repeat;
    background-size:100% 500px;
    width: auto;
    display: flex;
    justify-content: center;
   }
.images-section{
  width: auto;
  display: flex;
  justify-content: left;
}
  .images{
    padding-top: 70px;
  }

  .images img{
    margin-top: 15px;
    width: 30px;
    height: 30px;
  }
  .about-section{
    width: auto;
    display: flex;
    justify-content: center;
  }
.about{
    padding-top: 180px;
    color:#7FC7D9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.intro-about-section{
  width: auto;
  display:flex;
  justify-content: center;
  align-items: center;
}
.intro-section{
  width: auto;
  display:inline-block;
  justify-content: center;
  align-items: center;
}
.intro-inner-sec{
  width: 500px;
  margin-left: 100px;
}
.intro{
    text-align: justify;
    color:black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.about-section-img{
  display:inline-block;
  width: auto;
  justify-content: center;
  align-items: center;
}
.about-image{
  margin-left: 20px;
    width: 600px;
    height: 220px;
}
.services-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services{
    padding-top: 50px;
    color:#7FC7D9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.services-btn-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab1{
    padding: 14px 16px;
    color:#f4eef2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
  
}
.tab1 button:hover {
    background-color: #40A2E3;
}
.travel-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.travel-img{
    width: 1000px;
    height: 220px;
}
.portfolio-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio{
    padding-top:50px;
    color:#7FC7D9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.portfolio-img-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio1-image{
    width: 240px;
    height: 200px;
}
.portfolio2-image{
    margin-left: 10px;
    width: 240px;
    height: 200px;
}
.portfolio3-image{
    margin-left: 10px;
    width: 240px;
    height: 200px;

}
.portfolio4-image{
    margin-left: 10px;
    width: 240px;
    height: 200px;    
}
.contact-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact{
    padding-top: 50px;
    color:#7FC7D9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.contact-btn-section{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact1{
    padding-top: 10px;
    padding-bottom: 180px;
    color:#8d220c;
    font-family: 'Courier New', Courier, monospace;
}
.footer{
  position:fixed;
  left: 0;
  bottom: 0%;
  width: 100%;
  background-color: #40A2E3;
  color: white;
  text-align: center;
}
    