 .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; 
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #72d1e6;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  .section1 {
    background-image: url("ASYA_trees-residence.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 800px;
  
  } 
  .section2 {
    width: auto;
    display: flex;
    justify-content: center;
    font-size: 25px;
  
  }
  .section3 {
    width: auto;
    display: flex;
    justify-content: center;
  
  } 
  .section4 {
    width: auto;
    display: flex;
    justify-content: center;
  }   
  .inspireDay{
    font-family: "Lora";
    font-size: 85px;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 80px;
  }
  .message{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: #e0e1e2;
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: bold;
    padding-top: 100px;
  }
  .dateInput{
    padding-top: 0%;
    
  }
  .selectInput{
    padding-top: 0%;
  }
  .phoneInput{
    padding-top: 0%;
  }
  ::placeholder {
    color: white;
  }
  #phoneNumber{
    width: 200px;
    background: transparent;
    border: 3px solid white;
    font-size: 15px;
    color: white;
    margin-bottom: 16px;
    font-family: "Lora";
  }
  #date{
    width: 200px;
    background: transparent;
    border: 3px solid white;
    font-size: 15px;
    color: white;
    margin-bottom: 16px;
    font-family: "Lora";
  }
  #selectOptions{
    width: 200px;
    background: transparent;
    border: 3px solid white;
    font-size: 15px;
    color: white;
    margin-bottom: 16px;
    font-family: "Lora";
  }

  .table1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px white dashed; 
  }
  .table1 td {
    align-items: center;
    width: 200px;
    padding-left: 10px;
  }
  .table1 td p{
    font-family: "Lora";
    font-size: 25px;
    align-items: center;
    color: azure;
    font-weight: bold;
    
  }
  .covertd{
    display: flex;
    justify-content: center;
    align-items: center;


  }
  .rqstbtn{
    border: none;
    height: 70px;
    font-family: "Lora";
    margin-left: 20px;
  }
  /* .tdbtn{
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .service{
    margin-top: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    }
  .service1{
      margin-top: 60px;
      width: auto;
      display: flex;
      justify-content: center;
      font-size: 50px;
    }
  .column1 {
  display: flex;
  justify-content: center;
  align-items: center;

  }
  .column2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .column3 {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.section5{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table2{
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  /* border: 1px solid; */
}
.table2 td{
  border-color: black;
  /* border: 1px solid;
   */
}
.table2 td p{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.newbed{
  display:inline-block;
  width: auto;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}
.dining{
  display:inline-block;
  width: auto;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
.events{
  display:inline-block;
  width: auto;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 270px;
}

.sectionroom{
  width: auto;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.sectionroom1 {
  width: auto;
  display: flex;
  justify-content: center;
  
} 
.serviceroom1{
  margin-top: 60px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center ;
  font-size: 80px;
}

.sectionroom2 {
  width: auto;
  display: flex;
  justify-content: center;
}
.standard {
  width: 500px;
  margin-left: 100px;
  margin-top: 70px;


}
.executive {
  width: 500px;
  margin-left: 100px;
  margin-top: 70px;

}
.family {
  width: 500px;
  margin-left: 100px;
  margin-top: 70px;
}
.stan-room{
  display:inline-block;
  width: auto;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}
.exec-room{
  display:inline-block;
  width: auto;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}
.fam-room{
  display:inline-block;
  width: auto;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  padding-top:0%;
}

.sectionreview{
  width: auto;
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 50px;
  background-image: url("reviews.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
  height: 800px;
  
}
.bst{
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.sectionamenities{
  width: auto;
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.sectionamenities1{
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}




  /* #footer .credits {
    padding-top: 5px;
    font-size: 13px;
  } */
  p {
    font-family: 'Courier New', Courier, monospace;
  }
  
 