.navbar{
    position:fixed;
    border: 1px solid #f4eef2;
    background-color: #F7DED0;
    width: 100%;
    display: block;
    margin-top: 0%;
}
.navbar button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color:#080808;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
  }
  .navbar button:hover {
    background-color: #E2BFB3;
  }
  .fname{
    width: 500px;
    margin-left: 20%;
    margin-right: 50%;
    color:black;
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
}